{% extends 'base.html' %}

{% block content %}

<style>

body {
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #3429a8;
}

::-webkit-scrollbar-track {
    background-color: #17153a;
}

.headerText {
    color: white;
}

.container {
    margin-top:10px;
    max-width: 700px;
}

.infoBox { 
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s transform;
}

.avatars {
    height: 100px;
}

.infoBox:hover {
    transform: scale(1.03);
}

.stats {
    transform: translate(150px, -70px);
}

.stats > span {
    transform: translate(300px, -40px);
}

.rank {
    margin-right: 10px;
}

</style>

<div class="container">

    <h1 class="text-center headerText">Music Leaderboard</h1>

    {% for user in users %}

    <a href="{{url_for('viewProfile', userID=user['_id'])}}"><div class="position-relative bg-dark bg-gradient infoBox rounded-pill align-items-start">
        {% if users.index(user) == 0 %}
        <img draggable=false src="{{user['avatar']}}" class="col rounded-pill img-fluid avatars border border-5 border-warning">

        {% elif users.index(user) == 1 %}
        <img draggable=false src="{{user['avatar']}}" class="col rounded-pill img-fluid border border-5 border-danger avatars">

        {% elif users.index(user) == 2 %}
        <img draggable=false src="{{user['avatar']}}" class="col rounded-pill img-fluid avatars border border-5 border-success avatars">

        {% else %}
        <img draggable=false src="{{user['avatar']}}" class="col rounded-pill img-thumbnail img-fluid avatars">

        {% endif %}
        <div class="row headerText position-absolute stats">
            <h3 class="col">Level: {{user['level']}}</h3>
            <h3 class="col">EXP: {{user['xp']}}</h3>
            <span></span>
        </div>
            {% if users.index(user) == 0 %}
                <h1 class="rank btn btn-warning position-absolute translate-middle-y top-50 end-0">#{{users.index(user)+1}}</h1>

            {% elif users.index(user) == 1 %}
            <h1 class="rank btn btn-danger position-absolute translate-middle-y top-50 end-0">#{{users.index(user)+1}}</h1>

            {% elif users.index(user) == 2 %}
            <h1 class="rank btn btn-success position-absolute translate-middle-y top-50 end-0">#{{users.index(user)+1}}</h1>

            {% else %}
            <h1 class="rank btn btn-primary position-absolute translate-middle-y top-50 end-0">#{{users.index(user)+1}}</h1>

            {% endif %}
    </div></a>

    {% endfor %}

</div>

{% endblock %}